<h1>New Recipe</h1>
<form action="/recipes" method="post">
  <div>
    Title: <input type="text" name="title">
  </div>
  <div>
    chef: <input type="text" name="chef">
  </div>
  <div>
    prep_time: <input type="text" name="prep_time">
  </div>
  <div>
    ingredients: <input type="text" name="ingredients">
  </div>
  <div>
    directions: <input type="text" name="directions">
  </div>
  <div>
    image_url: <input type="text" name="image_url">
  </div>
  <input type="submit" value="Create recipe">
</form>
